/*
Styles for Little Tokyo
By: Michael Brown
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:700,300,900,500,400);
@import url(http://fonts.googleapis.com/css?family=Muli);

h1,h2,h3,h4,h5{
	font-family: Roboto;
}
p{
	font-family: Muli;
}
a{
	color:white;
}

$neongreen : #3DFF02;
$yellow :#E8DD0D;
$light-orange :#FFB10E;
$orange :#E85916;
$hotpink : #FF114F;
$grey : #E7E7E7;
$white : #FFF;
// Japan Pop

$blue : #3881FF;
$orange :#FF5830;
$yellow :#FFEC00;
$pink :#D60065;
$green : #1DBD33;

//Sheridan Helps
$coral: #FF3939;
$offwhite: #FFFFF8;
$bturq: #1DFCFF;
$dimturq: #18FBFF;

@import "utils";
// Universal
$red0: rgba(162, 64, 68,.25);		/* Main Complement color */
$red1: rgba(239,165,169,.75);
$red2: rgba(196,104,109,1);
$red3: rgba(129, 34, 39,1);
$red4: rgba( 89,  8, 12,1);

$num: 0;
@each $color in ($red0, $red1, $red2, $red3, $red4) {
    .red#{$num}-bg { background-color: $color; }
    .red#{$num}-border { border-color: $color; }
    $num: $num + 1;
}
.main-bg{
	background: -webkit-linear-gradient(90deg, #c21500 10%, #ffc500 90%); /* Chrome 10+, Saf5.1+ */ 
	background: -moz-linear-gradient(90deg, #c21500 10%, #ffc500 90%); /* FF3.6+ */
	background: -ms-linear-gradient(90deg, #c21500 10%, #ffc500 90%); /* IE10 */ 
	background: -o-linear-gradient(90deg, #c21500 10%, #ffc500 90%); /* Opera 11.10+ */ 
	background: linear-gradient(90deg, #c21500 10%, #ffc500 90%); /* W3C */
}
body{
	// background: $grey url('/tokyo/img/washi.png') repeat;
	@extend .main-bg;
}
.bg-circles{
	background: $grey url('/tokyo/img/washi.png') repeat;
}
.bg-white{
	background-color:$white;
}
.bg-pink{
	// background-color: $dimturq; 
	@extend .main-bg;

	div.container{
		margin-bottom: 10em;
	}
}
.bg-virgin{
	opacity: 1;
	background-image: -webkit-linear-gradient(left, rgb(201, 255, 191), rgb(255, 175, 189));
	background-color: rgb(255, 255, 255);
}
.carousel-inner > .item > img {
    margin: 0 auto;

}

/****************************************************************************************************
******************************* THAT PANEL CONTENT **************************************************
*****************************************************************************************************/
.tab-content{
	// background-color: rgba(0,0,0,.5);
}
.panel{

	border-radius: 0 0 4px 4px;
	ul{
		list-style: none;
	}
}
.panel-default{
	border-top:none;
}

/****************************************************************************************************
******************************* THAT Main Navigation ************************************************
*****************************************************************************************************/
nav{ 
	background: $white; 
	//border-top:2px $pink solid;
	.container{
		// background-color: $grey;
		#nav-main{
			background-color: $white;
			// border-top:2px $hotpink solid;
			
			li{
				
				a{
					font-weight: bold;
					padding:35px;
					color: black;
				}
				a:hover{
					background-color:$white;
					//color:$dimturq;
					// border-top:2px solid $dimturq;
					// border-bottom:2px solid $dimturq;
					padding:35px;
				}
			}
		}
		#logo{
		// @extend .centerAbs;
		height:90px;
		padding:0px;
		// border:2px solid black;
		}

	}
}
.nav-top{
	margin-top:6%;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.35);
	z-index:99;
}
.nav-top.navbar-fixed-top{
	margin-top: 0;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.35);
	z-index:999;
}
#homepageCarousel{
	padding:25px 0;

	.item img{
		height: 400px;
		width: auto;
	}
}
.navbar-toggle{
	border: 1px solid black;
 .icon-bar{
	background-color: black;
	}
}
ul.nav-tabs{
	li > a{
		color: #555;
	}
}
/****************************************************************************************************
******************************* THAT GLOBAL CONTENT *************************************************
*****************************************************************************************************/
.opaque{
	background-color: rgba(55,55,55,1);
}
.mtop{
	margin-top: 30px;
}
.centerAbs{
	position:absolute;
	display:block;
	margin-left: auto;
	margin-right:auto;
	left:0;
	right:0;
}
h1{
	
}
// MENU
#menuJpg{
	width:100%;
	// height:auto;
	// max-height: 80vw;


	.b-page{
		width:50%;
		
		.imgFull{
			max-width: 100%;
		}
	}
}
#footer{
	background-color: black;
	color: #999;
	
}
/****************************************************************************************************
******************************* THAT LOCATIONS PAGE *************************************************
*****************************************************************************************************/
#lt-map{
	width:100%;
	height:800px;
}