<!DOCTYPE html>
<html>
  <head>
    <link href='app/webroot/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='app/webroot/css/main.css' rel='stylesheet' type='text/css'>
    <script src='app/webroot/js/jquery.js'></script>
    <script src='app/webroot/js/bootstrap.js'></script>
  </head>
  <body>
    <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
      <div class='container'>
        <img class='navbar-brand' id='logo' src='assets/img/WhiteLogo.jpg'>
          <a href='http://google.com'></a>
        </img>
        <div class='navbar-header'>
          <button class='navbar-toggle' data-target='#nav-main' data-toggle='collapse' type='button'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
        </div>
        <div class='collapse navbar-collapse pull-right' id='nav-main'>
          <ul class='nav navbar-nav'>
            <li class='active'>
              <a href='#'>Home</a>
            </li>
            <li>
              <a href='#'>Menu</a>
            </li>
            <li>
              <a href='#'>Social</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12 mtop'>
          <div class='carousel slide' data-ride='carousel' id='homepageCarousel'>
            <ol class='carousel-indicators'>
              <li class='active' data-slide-to='0' data-target='#homepageCarousel'></li>
              <li class='active' data-slide-to='1' data-target='#homepageCarousel'></li>
              <li class='active' data-slide-to='2' data-target='#homepageCarousel'></li>
            </ol>
            <div class='carousel-inner'>
              <div class='item active'>
                <img alt='' src='https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/t1.0-9/10462648_782817455083200_6887893707627265208_n.jpg'>
                <div class='carousel-caption'>
                  <h3>Just saying hello</h3>
                </div>
              </div>
              <div class='item'>
                <img alt='' src='http://placehold.it/960x400'>
                <div class='carousel-caption'>
                  <h3>Hello Hello hellllooooooo</h3>
                </div>
              </div>
              <div class='item'>
                <img alt='' src='http://placehold.it/960x400'>
                <div class='carousel-caption'>
                  <h3>Say goodbye i say hello</h3>
                </div>
              </div>
            </div>
            <a class='left carousel-control' data-slide='prev' href='#homepageCarousel' role='button'>
              <span class='glyphicon glyphicon-chevron-left'></span>
            </a>
            <a class='right carousel-control' data-slide='next' href='#homepageCarousel' role='button'>
              <span class='glyphicon glyphicon-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
      <div class='row mtop'>
        <div class='col-sm-4'>
          <p class='well'>
            Lorem ipsum Enim in laboris deserunt sint culpa ea eiusmod et laborum in sit do velit dolore sed esse pariatur nostrud.
          </p>
        </div>
        <div class='col-sm-4'>
          <p class='well'>
            Lorem ipsum Commodo labore sit Excepteur ex elit non ut incididunt quis anim sit sint cupidatat aliquip ex amet fugiat elit mollit mollit dolor cillum ut aliqua aute ad.
          </p>
        </div>
        <div class='col-sm-4'>
          <p class='well'>
            Lorem ipsum Minim sint aliquip amet voluptate labore qui aute do nisi minim sed ea ex ut.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
